<section class="section features" id="features">
		<h3 class="section__title graphcms-container">
				{{ mixins.text(pieceOfTexts, 'event__title') }}
		</h3>
		
		<div class="features-block">
			<div class="features-block__item">
				<h3 class="features-block__title">TOP REACT SPEAKERS</h3>
				<p class="features-block__desc">Talks & QA sessions</p>
				<div class="features-block__back">
					<img class="features-block__back-pic" src="./img/feature-pic_1.jpg">
				</div>
			</div>

			<div class="features-block__item">
				<h3 class="features-block__title">NET-WORKING</h3>
				<p class="features-block__desc">Live rooms to chat and make new friends</p>
				<div class="features-block__back">
					<div class="networkers">
						{% for person in speakers[pageKey] %}
						<div class="networkers__item">
							<img class="networkers__speaker" src="{{person.avatar}}"/>
							<p class="networkers__time">12:30</p>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="features-block__item">
				<h3 class="features-block__title">REMOTE, SAFE YET FUN</h3>
				<p class="features-block__desc">QuakeJS and chess battles with prizes</p>
				<div class="features-block__back">
					<img class="features-block__back-pic" src="./img/feature-pic_2.jpg">
				</div>
			</div>
		</div>

		<div class="container">
			<div class="features__btn">
				<a href="" class="btn btn--gradient">More details</a>
			</div>
		</div>
</section>