<div class="hero hero_live">
	<div class="hero__bg"></div>

	<div class="container">
		<div class="hero__inner">
			<div class="hero__date">April 17, 2020</div>

			<div class="hero__logo">
				<a href="/" class="logo"><img src="img/logo-h.svg" alt="React Summit Online"></a>
			</div>

			<div class="hero__partner">
				<p class="hero__partner-text">In collaboration with</p>
				<a href="https://focusreactive.com/" class="hero__partner-img" target="_blank"><img src="img/sponsors/fr-text.png" alt="FocusReactive" /></a>
			</div>
		</div>		
	</div>
</div>