<section class="info-block section" id="quake">
	<div class="info-block__inner">
		<h3 class="section__title">{{ mixins.text(pieceOfTexts, 'QuakeJS__title') }}</h3>
		<div class="info-block__text">{{ mixins.text(pieceOfTexts, 'QuakeJS__subtitle') }}</div>

		{% if fakeLinks %}
		<a class="btn btn--border info-block__btn" href="quakejs-tournament" data-fancybox data-src="#popup-ticket">Join tournament</a>
		{% elif pagesPieceOfTexts.QuakeJS__link %}
		<a class="btn btn--border info-block__btn" data-time="19:40" data-fancybox data-src="#quake-popup" data-auth="auth" href="{{ pagesPieceOfTexts.QuakeJS__link }}">Join tournament</a>
    {{ mixins.roomPopup({ id: "quake-popup", time: "19:40 CEST", name: "QuakeJS Tournament"}, { speaker: "QuakeJS Tournament"}) }}
		{% else %}
		<a class="btn btn--border info-block__btn" href="{{ pagesPieceOfTexts.QuakeJS__link }}">Check later</a>
		{% endif %}
	</div>
</section>
