<div class="pop-ticket" id="popup-ticket">
	<div class="pop-ticket__two-col">
		<div class="pop-ticket__left">
			<p class="pop-ticket__title">Dont have a full ticket?</p>
			<a href="#" class="pop-ticket__btn btn btn--border">Get one </a>
		</div>

		<div class="pop-ticket__right">
			<p class="pop-ticket__title">Have a ticket?</p>
			<p class="pop-ticket__desc">Use your access code from the ticket to unlock all features</p>

			<form action=""	method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="c-form" target="_blank" novalidate="">
				<div class="c-form__field">
					<input type="text" value="" name="CODE" class="c-form__input" id="mce-CODE" placeholder="Your code" required="">

					<div style="position: absolute; left: -5000px;" aria-hidden="true">
						<input type="text" name="b_910284f989b81c945f27311af_70a763695e" tabindex="-1" value="">
					</div>

					<button type="submit" name="subscribe" id="mc-embedded-subscribe" class="c-form__submit">
						<span>Unlock</span>{{mixins.icon('arrow-right')}}
					</button>
				</div>
			</form>
		</div>
	</div>
</div>